:root {
/*
	--bg1: #013;
	--bg2: #079;
*/

	--bg1: #009;
	--bg2: #099;


	--bg-t: linear-gradient( to top, var( --bg1 ), var( --bg2 ) );
	--bg-b: linear-gradient( to bottom, var( --bg1 ), var( --bg2 ) );
	--bg-l: linear-gradient( to left, var( --bg1 ), var( --bg2 ) );
	--bg-r: linear-gradient( to right, var( --bg1 ), var( --bg2 ) );

}






/*
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}

*/



html, body {
	height: 100%;

	/*font-family: "Roboto Regular";*/
	font-family: Courier;

}

body {
	
	margin: 0;
	padding: 0;
	background: linear-gradient( to right, #009, #099 );
	
}

a { 
	text-decoration: none;
	color: #ff0;
} 




app {

	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-content: stretch;
}



#middle {

	margin: 46px 0 0 0;

	display: flex; 		/* для выравнивания блоков `aside` и `content` */
	flex: 1 1 auto; 	/* для общего участия прижатия футера в макете ( растягивание и сжатие блока ) */
}


#middle #content {
	width: 100%;



}








table {
	border-collapse: collapse;	/* рамка одинарная общая на две ячейки */
}
	table td {

		border: 1px solid #333;
		text-align: center;
	}





.pointer {
	cursor: pointer;
}








