/* © 2023 DJS */ 


cmp-win-laws {
	color: #fff;
} 
	cmp-win-laws .law-each {
		margin: 0 0 120px 0;
	}
		cmp-win-laws .law-each .law-title {
			margin: 0 0 10px 0;
			font-size: 110%;
			text-align: center;
			font-weight: bold;

		}

	cmp-win-laws .keyword,
	cmp-win-laws .danger {
		padding: 0 10px;
		font-weight: bold;
		border-radius: 5px;
	}
		cmp-win-laws .keyword {
			background-color: #9ff;
			color: #00f;
		}
		cmp-win-laws .danger {
			background-color: #f00;
			color: #fff;
		}
		cmp-win-laws p.sanction {
			margin: 0 0 0 20px;
		}








