/* © 2023 DJS */ 


cmp-win-laws {
	color: #fff;
} 
	cmp-win-laws .law-each {
		margin: 0 0 120px 0;
	}
		cmp-win-laws .law-each .law-title {
			margin: 0 0 10px 0;
			font-size: 110%;
			text-align: center;
			font-weight: bold;

		}










