/* © 2023 DJS */ 
 
 
cmp-win-rights { 
	color: #fff;
} 
	cmp-win-rights .clc { 
		cursor: pointer; 
	} 
		cmp-win-rights .clc:hover { 
			color: yellow; 
		} 


 



	cmp-win-rights .law { 
		margin: 0 0 20px 0;
	}
		cmp-win-rights .law .title-link {
			font-size: 110%;
			text-align: center;
		}
		 
 
 
