/* © 2023 DJS */ 




cmp-win-terminology {
	color: #fff;
} 
	cmp-win-terminology a { 
		text-decoration: none;
		color: #ff0;
	} 


	cmp-win-terminology .each { 
		margin: 0 0 0px 0;
	} 
		cmp-win-terminology .each .title {
			margin: 0 0 5px 0;
			padding: 3px 10px;
			font-weight: bold;

			border: 1px solid #fff;
			border-radius: 5px;
			/*color: #fff;*/
			background: var( --bg-b );
		} 






	cmp-win-terminology .descr {
		margin: 0 0 30px 20px;
		display: none;
	} 




