/* © 2023 DJS */ 


cmp-spoiler-art {
	display: block;
} 
	cmp-spoiler-art .art-each {
		margin: 0 0 5px 0;
	}
		cmp-spoiler-art .art-each .title {
			margin: 0 0 10px 0;
			padding: 5px 10px;
			background: var( --bg-b );
		}
			cmp-spoiler-art .art-each .title .pm {
				color: #ff0;
			}

		cmp-spoiler-art .art-each .descr {
			margin: 0 0 0 20px;
			display: none;
		}




			cmp-spoiler-art .art-each .descr .href {
				margin: 10px 0 30px 0;
			}
















