/* © 2023 DJS */ 


cmp-law-ku {

	/*all: initial;*/

	display: block;
	margin: 0 0 20px 0;
	color: #fff;

} 
	cmp-law-ku .each {
		margin: 0 0 5px 0 !important;
		/*padding: 5px;*/
			/*border: 1px solid #fff;
			border-radius: 5px;*/
	} 
		cmp-law-ku .each .descr {
			margin: 0 0 20px 20px;
			display: none;
		} 

		cmp-law-ku .each .href {
			margin: 0 0 10px 0;
		}




		cmp-law-ku .each .title {
			padding: 2px 10px;
			background: var( --bg-b );
		}



			cmp-law-ku .each .title .pm {
				color: #ff0;
			}





